# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
InfiniteWorld/obj/Debug/Assembly-CSharp-firstpass-vs.csproj.FileListAbsolute.txt
InfiniteWorld/obj/Debug/Assembly-CSharp-firstpass-vs.csprojResolveAssemblyReference.cache
InfiniteWorld/obj/Debug/Assembly-CSharp-firstpass.dll
InfiniteWorld/obj/Debug/Assembly-CSharp-firstpass.pdb
InfiniteWorld/BuildOutput/UnityPlayer_Symbols.pdb
InfiniteWorld/BuildOutput/Build_Data/output_log.txt
InfiniteWorld/obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
InfiniteWorld/obj/Debug/Assembly-CSharp-vs.csprojResolveAssemblyReference.cache
InfiniteWorld/obj/Debug/Assembly-CSharp.dll
InfiniteWorld/obj/Debug/Assembly-CSharp-vs.csprojResolveAssemblyReference.cache
InfiniteWorld/obj/Debug/Assembly-CSharp.dll
InfiniteWorld/BuildOutput/
InfiniteWorld/obj/
InfiniteWorld/obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
